<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="conexion" connectionString="data source=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=dbgas;Data Source=WIN-ILSLQ6O74NS" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>