<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="conexion" connectionString="data source=SQLOLEDB.1;Persist Security Info=False;User ID=gasusr;password =1234;Initial Catalog=dbgas;Data Source=LAPTOP-CESAR\SQLEXPRESS"/>
  </connectionStrings>

  <system.web>
    <compilation targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>